@import "pretendard/dist/web/static/pretendard.css";

@import "tailwindcss";

@theme {
  --font-sans: "Pretendard";
  --font-weight-thin: 100;
  --font-weight-extralight: 200;
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-extrabold: 800;
  --font-weight-black: 900;
}

body {
  @apply font-sans text-gray-900 bg-gray-50;
}
